@use "../../assets/styles/variables" as v;

.Nav {
  background-color: v.$black !important;
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    li a {
      color: v.$white;
      text-decoration: none;
    }
  }
}
